@{
    ViewData["Title"] = "Insert Page";
}
<form method = "post">
<div class="text-center">
Id:<input type = "number" placeholder = "number" name = "id" />
Name:<input type = "text" placeholder="text" name = "name" />
Unit:<input type = "text" placeholder="text" name = "unit" />
Company_id:<input type = "number" placeholder="number" name = "cid" />
<button>submit</button>
</div>
</form>