@{
    ViewData["Title"] ="Insert";
}

<h2>Insert data</h2>
<form method="post">
    Id: <input type ="number" placeholder="*****" name="id"  required/><br><br>
    Name: <input type="text" placeholder="#####" name = "name" required /><br><br>
    unit: <input type="text" placeholder="@@@@@@" name ="unit" required/><br><br>
    company id: <input type="number" placeholder="$$$$$" name = "cid" required /><br><hr>
    <button>submit</button>
    </form>